.DS_Store
server/server
# private key for the SSL certificate. probably shouldn't commit this file 
server/key.pem
server/test.ts
doc/finalreport/awoosare-final-report.tex
doc/finalreport/.auctex-auto/awoosare-final-report.el
doc/test/test-plan.tex
doc/test/.auctex-auto/test-plan.el
doc/test/test-plan.out
