@font-face { font-family: SuperLegendBoy; src: url('SuperLegendBoy-4w8Y.TTF'); }

h1 {
  font-family: SuperLegendBoy;
  text-align: center;
  color: white;
  background-color: #353839;
}

body {
  font-family: SuperLegendBoy;
  background-color: #353839;
}

.button {
  font-family: SuperLegendBoy;
  border: 2px solid #FFFFFF;
  height: 200px;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 10px 0px;
  cursor: pointer;
  background-color: #353839;
}

.button1 {
  width: 100%;
}

.button2 {
  width: 49%;
}

.button3 {
  width: 49%;
  float: right;
}

.button:hover {
  background-color: #FFFFFF; /* White */
  color: #353839;
}
