@font-face { font-family: SuperLegendBoy; src: url('SuperLegendBoy-4w8Y.TTF'); }

h1 {
  font-family: SuperLegendBoy;
  text-align: center;
  color: white;
  background-color: #353839;
}

body {
  font-family: SuperLegendBoy;
  font-size: 22px;
  text-align: center;
  color: white;
  background-color: #353839;
}

p {
  font-family: SuperLegendBoy;
  text-align: center;
  font-size: 22px;
}


ol {
	display: inline-block;
  font-size: 22px;
	text-align: left;
}


/* Makes radio buttons (the circle part) disappear */
.radio{
  position: absolute;
  margin: 0 !important;
  padding: 0 !important;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

/* For the radio buttons initially selected, we want it highlighted */
.preselected{
  background-color: #FFFFFF;
  color: #353839;
}

.label{
  margin: 0px;
  padding: 9px;
}

.content {
  max-width: 500px;
  margin: auto;
}

.parent {
	text-align: center;
}

.button {
  font-family: SuperLegendBoy;
  border: 2px solid #FFFFFF;
  height: 50px;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 10px 0px;
  cursor: pointer;
  background-color: #353839;
}

.button:hover {
  background-color: #FFFFFF; /* White */
  color: #353839;
}

.button4 {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
